@model ProviderAppver3.Customer



<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />
<body>
    @*modal code begin*@
    <div id="overlay">
        <div>
            <h2>Average Highest Customer Rating</h2>
            <h3 style="display:inline-block" id="providerName"></h3>
            <span class="starFadeN" id="sRate1"></span><span class="starFadeN" id="sRate2"></span><span class="starFadeN" id="sRate3"></span><span class="starFadeN" id="sRate4"></span><span class="starFadeN" id="sRate5"></span>
            <br>
            <h2>Lowest Average Price</h2>
            <h3 style="display:inline-block" id="providerName1"></h3>
            <br>
            <h2>Closest Provider to You</h2>
            <h3 style="display:inline-block" id="providerName2"></h3>
            <br>

            <a href='#' onclick='overlay()'>Click here to close</a>

        </div>
    </div>
    @*modal code end*@
    <h4>Welcome @ViewBag.Name</h4>

    <div class="container">
        <div class="row" id="ratingDiv">
            <div class="col">
                <button href='#' onclick="overlay((document.getElementById('textbox').value)), GetProvRankings(document.getElementById('textbox').value)">Top rated active providers</button>
            </div>
            <div class="col slidecontainer" id="slide" style="display:none">
                <input type="range" min="1" max="12" value="6" class="slider" id="myRange" onclick="LoadMap(ourdata)" onfocus="ClearMap()">
            </div>
            <div class="col">
                <div class="search-container">
                    <input type="text" id="textbox" onfocus="ClearMap()" placeholder="Search For Services">
                    <input type="button" onclick="LoadProviders((document.getElementById('textbox').value))" value="Submit" />
                </div>
            </div>
        </div>
        <div class="row" id="ratingTwo">
            <div class="col">
            </div>
            <div class="col" id="slideTwo" style="display:none">
                <p>Slide to adjust distance to providers: <span id="demo"></span></p>
                <br />
                <p>Press submit to continue.</p>
            </div>
            <div class="col">
                <p>Your message has been sent. Click <span><a id="chatlink" href="">here</a></span> to view.</p>
                <button onclick="Closediv()">Close</button>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col" id='map'></div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</body>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
        //Chris - Generates customer marker
        var custLat;
        var custLng;
        var distance;
        var map;
        var OurRequest = new XMLHttpRequest()
        OurRequest.open('Get', 'http://www.mapquestapi.com/geocoding/v1/address?key=b13zAYNPuUz6uaAeUCrHk3BvhAt0UnR6&location=' + '@ViewBag.Address')
        OurRequest.onload = function () {
        ourdata = JSON.parse(OurRequest.responseText);
        LoadMap(ourdata)
    };
    OurRequest.send();

        //Chris chat script
        function OpenChat(pid) {
            var cid =  @Html.DisplayFor(m => m.CustomerID);
            var search = document.getElementById("textbox").value;
            var cname = "@ViewBag.Name";
            var message = "NULL";
            console.log(search);
            $.post('/Chats/CreateFromMap', { cid: cid, pid: pid, search: search, cname: cname, message: message}, function (chatid) {
                var chathref = "/Chats/Details/" + chatid;
                var a = document.getElementById("chatlink");
                a.setAttribute('href', chathref);
                document.getElementById('dialog').style.display = "block";
            });
        }

    function Closediv() {
        document.getElementById('dialog').style.display = "none";
    }

        //chris - just a temp button for now until we get to payment info
        function PaymentProcessed() {
            alert('Your payment has been processed. Thank you.');
        }

        
</script>
