@model ProviderAppver3.Customer

@{
    ViewBag.Title = "Details";
}



<div class="row">
    <div class="col">
        <h4 style="display:inline-block">Welcome @ViewBag.Name</h4>
    </div>
</div>
    <hr />
    <div class="row">
        <div class="col-2">
            @Html.DisplayFor(model => model.CustomerName)
        </div>
        <div class="col-2">
            @Html.DisplayFor(model => model.CustomerPhone)
        </div>
        
        <div class="col-8" id='map'></div>
    </div>

    <script>
        var map = tomtom.L.map('map', {
            key: '7MHaIyzmWO124c9GU02OAGJPvcpyMtwo',
            basePath: 'sdk',
            center: [@ViewBag.Latitude, @ViewBag.Longitude],
            zoom: 16,
        });

        var marker = tomtom.L.marker([@ViewBag.Latitude, @ViewBag.Longitude]).addTo(map);
        marker.bindPopup("@ViewBag.Name");
    </script>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
