@model IEnumerable<ProviderAppver3.Chat>
@{
    ViewBag.Title = "Index";
}
<h2>Messages</h2>

@foreach (var item in Model)
{
    if (item.CustomerID == ViewBag.Cid)
    {
        <div class="row">
            <div class="chatbody">
                <h2>You have a new quote!</h2>
                <a href="#" onclick="Markasread(this); return false;">Mark as read</a>
            </div>

            @Html.ActionLink("Edit", "Edit", new { id = item.ChatID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ChatID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ChatID })
        </div>
    }

    if (item.ProviderID == ViewBag.Pid)
    {
        <div class="row">
            <div class="chatbody" style="font-weight:bold">
                <h2>You have a new request</h2>
                <a href="#" onclick="Markasread(this); return false;">Mark as read</a>
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = item.ChatID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ChatID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ChatID })
        </div>
        }
}

<script>
    function Markasread(e) {
        e.style.backgroundcolor = "red";
    }
</script>